.ui.borderless.topmenu.menun {
  background-color: #f7f7f7;
  border: none;
  box-shadow: none;
}

.ui.borederless.middlemenu.menu {
  border: none;
  box-shadow: none;
}

.footer-background {
  background-color: #292929;
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
}

